includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app

    excludePaths:
        - app/Actions/Fortify/*
        - app/Actions/Jetstream/*

    level: 5

    ignoreErrors:
        # Don't require explicit return types on controller actions
        # - '#Method App\\Http\\Controllers\\[a-zA-Z0-9\\]+::[a-zA-Z0-9]+\(\) has no return type specified.#'
        # Ignore PHPDoc list semantics
        - '#PHPDoc type array<int, string> of property .+ is not covariant with PHPDoc type list<string> of overridden property#'
